@font-face {
    font-family: "Literata";
    font-weight: 100 900;
    font-display: fallback;
    font-style: normal;
    src: url(/Literata-VariableFont.ttf) format("ttf");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Top bar */
.top__bar {
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #fafafa;
    border-bottom: 1px solid #f0f0f2;
}

.top__bar a {
    color: inherit;
}

.top__bar p {
    margin: 0;
}

/* Quill styling */
.ql-editor {
    overflow-y: scroll;
    resize: vertical;
    min-height: 100px;
    max-height: 600px;
    /* scrollbar-color: red yellow; */
    /* scrollbar-width: thin; */
}
.ql-editor ::selection {
    background: lightgrey;
}

.ql-tooltip input {
    color: black;
    background: #fff;
}

.ql-container {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    background: #fefcfc;
    scrollbar-color: red yellow;
    scrollbar-width: thin;
}
.ql-snow.ql-toolbar {
    display: block;
    background: #eaecec;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
.glow {
    z-index: 0;
}

.glow:before {
    content: "";
    background: linear-gradient(
        45deg,
        #ff0000,
        #ff7300,
        #fffb00,
        #48ff00,
        #00ffd5,
        #002bff,
        #7a00ff,
        #ff00c8,
        #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

.glow:before {
    opacity: 1;
}

.glow:after {
    opacity: 1;
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: #111; */
    left: 0;
    top: 0;
    border-radius: 8px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

/* Wavesurfer */

.ws-timestamp-tool ::part(marker) {
    white-space: nowrap;
}

.ws-timestamp-tool ::part(marker)::before {
    /* make a triangle shape */
    border-top: 7px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 7px solid #f50;
    content: "";
    display: inline-block;
    height: 0;
    width: 0;
    margin-right: 0.5rem;
}
